#gamebody {
  overflow: hidden;
}
.card, #game_list {
  font-family: "helvetica neue", helvetica, Arial, sans-serif;
}
h2,h3,h4 {
  margin: 0 0 .25em;
}
#menubar {
  background:#44475a;
  border-bottom:1px solid #44475a;
  color:#bcc3cd;
  height: 25px;
  padding:.5em;
}
#menubar_left {
  float: left;
}
#menubar_right {
  float: right;
}
#canvas {
  height: 533px;
  overflow: none;
  position: relative;
  width: 100%;
}
#main {
  height: 506px;
  padding: .5em;
}
#welcome {
  padding: 1em;
}
#game_list {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.gamelist_lobby {
  background: #44475a;
  border-radius: .25em;
  width: 575px;
  height: 175px;
  float: left;
  border: 1px solid #ccc;
  margin: 4px;
}
.gamelist_lobby_left {
  width: 77%;
  height: 100%;
  padding: .5em 1.5%;
  float: left;
}

.gamelist_lobby_right {
  width: 20%;
  height: 100%;
  float: right;
}

.gamelist_lobby_join {
  width: 100%;
  height: 75%;
  border: 1px solid #aaa;
  background: linear-gradient(#44475a, #44475a) #44475a;
  border-radius: .25em;
  text-transform: uppercase;
  font-weight: 700;
  white-space: normal;
}

.gamelist_lobby_spectate {
  width: 100%;
  height: 25%;
  border: 1px solid #aaa;
  background: linear-gradient(#44475a, #44475a) #44475a;
  border-radius: .25em;
  text-transform: uppercase;
  font-weight: 700;
}

.gamelist_lobby_status {
  float: right;
  font-weight: 700;
}

.gamelist_lobby_status_joinable {
  color: green;
}

.gamelist_lobby_status_unjoinable {
  color: #c0c0c0;
}

#bottom {
  width: 100%;
  height: 215px;
  position: absolute;
  top: 543px;
  min-height: 100px;
}

#info_area {
  width: 250px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  min-height: 100px;
  border: none;
}

#tabs {
  min-height: 100px;
  width: 50%;
  height: 100%;
  border: none;
  position: absolute;
  bottom: 0px;
  right: 14px;
  background-color: #44475a;
}
#tabs .ui-widget-content {
  background-color: #44475a;
}

#tabs .ui-widget {
  font-height: 16px !important;
}

.tab-button {
  font-size: 14px !important;
}

.cardset_filter_list {
  display: inline-block;
  width: 33%;
}

.cardset_filter_list select {
  height: 150px;
  width: 100%;
}

.cardset_filter_list span {
  font-weight: bold;
}

.cardset_filter_list .buttons {
  text-align: center;
}

.log {
  width: 100%;
  height: 198px;
  border: 2px solid #44475a;
  border-top: 2px solid #4b4d5f;
  color: #bcc3cd;
  position: absolute;
  bottom: 28px;
  right: 0px;
  overflow: auto;
  min-height: 43px;
  font-size: 16px;
}

#tab-preferences input[type='button'] {
  float: right;
}

#tab-preferences, #tab-gamelist-filters {
  overflow-y: auto;
}

#chatwrapper {
  left: 1px;
  bottom: 1px;
  position: absolute;
  padding: 0px;
  width: 100%;
  display: flex;
}
.chat {
  border: none;
  outline: none;
  color: #f6faff;
  background-color: #6272a4;
  height: 25px;
  width: 95% !important;
  font-size: 14px;
  padding-left: 5px;
  padding-right: none;
  padding-top: none;
  padding-bottom: none;
  order: 1;
}
.chat_submit {
  width: 55px;
  height: 25px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #f6faff;
  background-color: #6272a4;
  border: 2px solid #6272a4;
  outline: none;
  position:absolute;
  right:0px;
  bottom:0px;
}
#create_game {
  background-color: #6272a4;
  color: #f6faff;
  border: 2px solid #6272a4;
}
#logout {
  background-color: #6272a4;
  color: #f6faff;
  border: 2px solid #6272a4;
}
#leave_game {
  background-color: #6272a4;
  color: #f6faff;
  border: 2px solid #6272a4;
}
#start_game {
  background-color: #6272a4;
  color: #f6faff;
  border: 2px solid #6272a4;
}
.card {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #999;
  padding: 15px;
  font-size: 15pt;
  float: left;
  border-radius: .25em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.blackcard {
  background: #231f20;
  color: white;
  background-image:linear-gradient(#231f20,#231f20 75%, #333)
}

.whitecard {
  background: white;
  color: #231f20;
}

.whitecard, .gamelist_lobby{
  background-image: linear-gradient(#44475a,#44475a 75%,#44475a);
}

.cah {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 15px;
}

.hide {
  display: none;
}

.game {
  height: 100%;
  width: 100%;
  position: relative;
}

.your_hand {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.game_hand {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 30%;
}

.game_hand_filter {
  height: 100%;
  position: relative;
  background: rgba(192, 192, 192, .5);
  z-index: 100;
  text-align: center;
}

.game_hand_filter_text {
  position: absolute;
  top: 50%;
  font-size: 300%;
  margin-top: -30px;
  background:#eee;
  padding:.25em;
}

.game_hand_cards {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 99%;
  padding-left: 2px;
  min-width: 750px;
}

.game_hand_cards .card {
  cursor: pointer;
}

.game_top {
  padding: 5px;
}

.game_menu_bar {
  float: right;
}

.game_message {
  font-size: 150%;
  font-weight:bold;
  color: #50fa7b;
}

.game_black_card_wrapper {
  width: 232px;
  float: left;
}

.game_black_card {
  width: 232px;
  height: 232px;
  margin-top: 15px;
}

.confirm_card {
  background-color: #6272a4;
  border: 2px solid #6272a4;
  float: left;
  margin-top: 10px;
  width: 100%;
  z-index: 500;
}

.game_left_side {
  float: left;
  width: 232px;
  padding-left: 10px;
  padding-top: 10px;
}

.game_right_side, .game_options {
  position: absolute;
  left: 246px;
  width: 1000px;
}
.error {
  color: #ff5555;
}
span.debug {
  color: #bcc3cd;
}
span.admin {
  color: #ffb86c;
}
.game_options {
  background-color: #44475a;
  z-index: 500;
  padding-bottom: 5px;
}

.game_right_side_box {
  height: 60%;
  margin: 10px;
}

.game_right_side_cards {
  margin-top: 15px;
  min-width: 600px;
  cursor: pointer;
  z-index: 200;
}

.game_right_side_cards .card_holder, .game_white_cards_binder {
  z-index: 200;
}

.game_white_cards_binder {
  border: 3px solid silver;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: .25em;
}

.card_holder {
  float: left;
  position: relative;
  overflow-x: visible !important;
  overflow-y: visible !important;
  margin-right: 2px;
  z-index: 1;
}

.game_white_cards_binder .card_holder {
  margin-right: 0px;
}

.scoreboard {
  width: 250px;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

.scorecard {
  background: #44475a;
  height: 36px;
  padding:.25em .5em;
  font-size: 11pt;
}

.scorecard:nth-child(even) {
  background:#44475a;
}

.scorecard_status {
  float: right;
  margin-right: 5px;
}

.clear {
  clear: both;
}

.selected {
  color: #fff;
  background: #3c7fb1 !important;
}

.logo {
  position: absolute;
  width: 250px;
  height: 32px;
  bottom: 15px;
  left: 15px;
}

.logo_element {
  top: 2px;
  position: absolute;
  width: 22px;
  height: 22px;
}


.blackcard .logo_element {
  border: 1px solid #231f20;
}

.logo_1 {
  left: 2px;
}

.blackcard .logo_1 {
  background: #57585a;
}

.whitecard .logo_1 {
  background: #231f20;
}

.logo_2 {
  left: 10px;
}

.blackcard .logo_2 {
  background: #b2b3b7;
}

.whitecard .logo_2 {
  background: #636366;
}

.logo_3 {
  left: 16px;
  top: 5px;
}

.blackcard .logo_3 {
  background: white;
  color: black;
}

.whitecard .logo_3 {
  background: #c7c8ca;
  color: black;
}

.watermark_container {
  font-size: 5pt;
  text-align: center;
}

.logo_text {
  position: absolute;
  font-size: 8pt;
  font-weight: bold;
  left: 45px;
  bottom: 4px;
}

.card_metadata {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.draw, .pick {
  float: right;
  clear: both;
  font-weight: bold;
  font-size: 12pt;
}

.card_number {
  width: 20px;
  height: 20px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.blackcard .card_number {
  background: white;
  display: inline-block;
  color: #231f20;
  text-align: center;
}

/* TODO .whitecard .card_number ??? */

.previous_round {
  z-index: 50;
  border: 3px solid black;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 5px;
}

.previous_round_close {
  position: absolute;
  right: 0px;
}

.card_set_label {
  margin-right: 15px;
}

.scorecard_score, .scorecard_player {
  font-weight:700;
}
.scorecard_score, .scorecard_point_title {
  color: #ff79c6;
}
.scorecard_player {
  color: #ffb86c;
}
.checkbox {
  margin-right: 4px;
  white-space: nowrap;
}

.checkbox input {
  vertical-align: middle;
}

.checkbox span {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.cardnum {
  position: absolute;
  right: 10px;
  bottom: 19px;
  font-size: 8pt;
}

dfn {
  border-bottom: 1px dotted black;
}

#tweetbox {
  float: right;
}

.gamelink {
  cursor: pointer;
  text-decoration: underline;
}

.imagecard {
  height: 100%;
  width: 100%;
}

.card_text {
  word-wrap: break-word;
  overflow: hidden;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
